{% extends "atwx1/index.html" %}

{% block about %}
	
	<br>
	
	<div class = "well well-sm" >
		<h4>When?</h4>
		<p style = "text-align:justify">AT Weather was conceptualized in November and December of 2014, with actual development taking place throughout the following January and February. The first version of AT Weather went online in March of 2015 at the start of the 2015 thru hiking season.</p>
	</div>

	<div class = "well well-sm" >
		<h4>Why?</h4>
		<p style = "text-align:justify">The weather is one of the key factors influencing the experience of both long-distance hikers and weekend enthusiasts alike. Because the weather forecast can vary significantly over short distances in mountainous terrain, having forecasts that are tailored to the very small area around a specific point, rather than tied to a distant location - becomes important.</p>
	</div>

	<div class = "well well-sm" >
		<h4>How?</h4>
		<p style = "text-align:justify">The website stores a list of locations (shelters for the AT, prominent locations for the PCT) and corresponding latitude/longitude coordinates for each location. When a user selects a location, the coordinates are submitted to NOAA, which returns a forecast specifically for the location in question. See the Learn section for more information on how forecasts are constructed.</p>
	</div>

	<div class = "well well-sm" >
		<h4>Who?</h4>
		<p style = "text-align:justify">Pat Jones has a master's degree in meteorology from Penn State University and lived in New York City for thirteen years prior to successfully thru-hiking the AT in 2015 (trail name 'Zen'). Backpacking extensively in the Adirondack mountains of upstate New York and Whites of New Hampshire yielded first-hand insight as to the impacts of topography on weather. Pat now lives in Portland, OR and can be reached at <a href = "mailto:patjones80@gmail.com">patjones80@gmail.com</a>.</p>
	</div>
	
{% endblock %}	