{% extends "atwx1/index.html" %}

{% block about %}
	<br>

	<div id="about_box" class="card text-bg-light p-3" style="text-align:justify;">
		<div class="card-body">
			<h5 class="card-title">About AT Weather</h5>

			<p class="card-text">This website was initially developed during the winter of 2015, and its first version went online in March of that year at the start of the thru hiking season. It was motivated by the fact that weather is a key factor influening hikers' experiences on the trail. As a result, having forecasts tied to specific points rather than distant locations becomes important - especially in mountainous terrain.</p>			
			<p class="card-text">The website stores a list of locations (shelters for the AT, prominent locations for the PCT) and corresponding latitude/longitude coordinates for each location. When a user selects a location, the coordinates are submitted to NOAA, which returns a forecast specifically for the location in question. See the <a href="/learn">Learn</a> section for more information on how forecasts are constructed.</p>
			<p class="card-text">Pat Jones has a master's degree in meteorology, and successfully thru-hiked the AT in 2015 (trail name 'Zen'). He now lives in Bend, OR and can be reached at <a href="mailto:patjones80@gmail.com">patjones80@gmail.com</a>
			<!-- <a href="#" class="card-link">Card link</a> -->
			<!-- <a href="#" class="card-link">Another link</a> -->
	  </div>
	</div>

{% endblock %}
