{% extends "atwx1/index.html" %}

{% block disclaimer %}

	<br>
	
	<div class = "well well-sm" >
		<p style = "text-align:justify">The weather forecasts provided on AT Weather are provided 'as is' from the National Weather Service (NOAA) and are not modified in any manner for presentation on AT Weather. As such, AT Weather is not responsible for the timeliness or accuracy of the provided forecasts. The information presented on AT Weather in the form of both weather forecasts and informational discussions is to be used at your own risk. AT Weather assumes no responsibility for the safety of website users.</p>
	</div>
	
{% endblock %}	