{% extends "atwx1/index.html" %}

{% block forecast %}

	<br>
	
	<span class="label label-info">{{ locationName }}</span>
	
	{% if forecast %}
	
		<br>
		<br>

		{% for a in alerts.0 %} 
			<div class = "alert alert-warning" role = "alert">
				<a href = "http://forecast.weather.gov/showsigwx.php?{{ alerts.1 }}">{{ a }}</a>
			</div>
		{% endfor %}
		
		{% if forecast %}
			<div class = "well">{{ forecast }}</div>
		{% endif %}
	
		{% if err_msg %}
			<div class = "alert alert-warning">{{ err_msg }}</div>
		{% endif %}

	{% endif %}
	
{% endblock %}	