{% extends "atwx1/index.html" %}

{% block learn_menu %}

<br>

<div class = "list-group" style = "width: 350px;">
	<a href = "http://127.0.0.1:8000/learn/precip_discussion" class = "list-group-item">How to interpret weather forecasts</a>
	<a href = "http://127.0.0.1:8000/learn/wind_chill" class = "list-group-item">Cold weather and wind chill</a>
	<a href = "http://127.0.0.1:8000/learn/weather_prediction" class = "list-group-item">How forecasts are made</a>
	<a href = "http://127.0.0.1:8000/learn/lapse_rate" class = "list-group-item">Temperature and elevation</a>
</div>

{% block learn_wind_chill %}	{% endblock %}
{% block learn_interpret %}		{% endblock %}
{% block learn_lapse_rate %}	{% endblock %}
{% block learn_nwp %}			{% endblock %}

{% endblock %}