{% extends "atwx1/index.html" %}

{% block learn_menu %}

<br>

<div class = "list-group" style = "width: 350px; margin-bottom:0px;">
	<a href = "/learn/precip_discussion" class = "list-group-item list-group-item-action list-group-item-primary" onclick = "javascript: $(wellOfLearning).show()">How to interpret weather forecasts</a>
	<a href = "/learn/wind_chill" class = "list-group-item list-group-item-action list-group-item-primary">Cold weather and wind chill</a>
	<a href = "/learn/weather_prediction" class = "list-group-item list-group-item-action list-group-item-primary">How forecasts are made</a>
	<a href = "/learn/lapse_rate" class = "list-group-item list-group-item-action list-group-item-primary">Temperature and elevation</a>
	<a href = "/learn/no_forecast" class = "list-group-item list-group-item-action list-group-item-primary">Why is no forecast available?</a>
</div>

{% block learn_wind_chill %}	{% endblock %}
{% block learn_interpret %}		{% endblock %}
{% block learn_lapse_rate %}	{% endblock %}
{% block learn_nwp %}			{% endblock %}
{% block learn_no_forecast %}	{% endblock %}

{% endblock %}
