{% extends "atwx1/learn_menu.html" %}

{% block learn_no_forecast %}

	<br>

	<div id="no_forecast_box" class="card text-bg-light p-3" style="text-align:justify;">
		<div class="card-body">
			<h5 class="card-title">No forecast availability</h5>
			
			<p class="card-text">When the weather service has updated forecasts, the information is just stored as plain text in a bunch of files that get uploaded to the system for public consumption on the National Weather Service website, and the API (the interface that AT Weather uses).</p>
			<p class="card-text">Sometimes though, those files might have poorly formed data, or no data where there should be data. This could be a problem with the computer programs that produce the forecasts, or some other issue that is not obvious to the weather service. Regardless of the exact cause, such poorly formed data can't be properly displayed.</p>
			<p class="card-text">This problem is usually temporary, and corrects itself after a forecast cycle. It is also usually confined to single locations. Occasionally though, a wide geographical area can be impacted. The best thing is wait at least several hours to see if the issue has corrected itself.</p>
		</div>
	</div>

{% endblock %}