{% extends "atwx1/index.html" %}

{% block no_forecast %}
	
	<div class="jumbotron" style="margin-bottom:0px; margin-top:20px;">
		<h1 class="display-4">Hey, where's my forecast?</h1>
		<p class="lead">{{ err_msg }}</p>
		<hr class="my-4">
		<p>For now, try <a href="https://www.nws.noaa.gov">nws.noaa.gov</a> and feel free to report this error by emailing <b>patjones80@gmail.com</b>.</p>
		<p class="lead" style="padding-top: 10px;">
			<a class="btn btn-primary btn-lg" href="http://192.168.0.206:8080/learn/no_forecast" role="button">Why?</a>
		</p>
	</div>

{% endblock %}