{% extends "atwx1/index.html" %}

{% block no_forecast %}
	
	<br>
	
	<div id="no_forecast_error_box" class="card text-bg-light p-3" style="text-align:justify;">
		<div class="card-body">
			<h5 class="card-title">Hey, where's my forecast?</h5>
			<h6 class="card-subtitle mb-2 text-body-secondary">{{ err_msg }}</h6>			
			<p class="card-text">For now, try <a href="https://www.nws.noaa.gov">nws.noaa.gov</a> and feel free to report this error by emailing <b>patjones80@gmail.com</b>.</p>
			<a href="/learn/no_forecast" class="btn btn-primary">Why?</a>
		</div>
	</div>

{% endblock %}