{% extends "atwx1/index.html" %}

{% block other %}

<br>

<div class="well" style="margin-bottom:0px;">	
	<h4>Other Useful Weather Sites</h4>
	<p>While AT Weather is a great resource for weather information on the trail, there are a few other particularly helpful sites out there:
		<ul>
			<li style="padding-bottom:5px;"><a href="https://www.atforecast.app/" target="_blank" rel="noopener noreferrer">AT Forecast</a>. This site has excellent usability, breaks forecasts down by time of day, has an Android app available, and a GPS feature. It's also completely free like AT Weather! Definitely worth adding to your weather forecast portfolio.</li>
			<li style="padding-bottom:5px;"><a href="https://www.ontrailweather.com/" target="_blank" rel="noopener noreferrer">OnTrailWeather</a>. Click your trail, and on the following screen click the gear icon and check mark <b>Point Forecast (Click Map)</b>. You'll now be able to click any point on the trail map and get redirected to the text-based NOAA/NWS point forecast for that location.</li>
			<li style="padding-bottom:5px;"><a href="https://www.mountain-forecast.com/" target="_blank" rel="noopener noreferrer">Mountain Forecast</a>. A longtime go-to resource for hikers and climbers looking for peak-specific forecasts, this is a good bet for many of the high points on the AT and PCT. It has entries even for many lower elevation mountains such as Springer on the AT.</li>
		</ul>
	</p>
</div>
	
{% endblock %}