{% extends "atwx1/index.html" %}

{% block url_changes %}

	<br>

	<div id="site_changes" class="card text-bg-light p-3" style="text-align:left;">
		<div class="card-body">
			<h5 class="card-title">Changes to AT Weather</h5>

			<p class="card-text">Effective <b>January 1, 2025</b> – there will be minor changes to AT Weather in terms of functionality. Past users of the site know that we had a dropdown box to select either the AT or PCT. Selecting one or the other filtered the other two lists. This dropdown box is now removed. The functionality of the dropdown box for selecting trail/state remains the same; making a selection will continue to filter the main location dropdown list.</p>
			<p class="card-text">Related to this is that the URL structure for forecasts has changed. This means that if you had previously bookmarked a URL for a location's forecast, it will no longer function. If you wish to bookmark certain pages for the future, please select them from the main location dropdown and re-bookmark them. These changes were made in order for the URL to be simpler, and for the code that comprises AT Weather to be simpler.</p>
			<p class="card-text">I've also introduced a light/dark mode feature to the site. This is experimental. If you have your device set to dark mode in its settings, that might override how the toggle switch in AT Weather is set.</p>
			<p class="card-text">Please feel free to ask me about any of these changes. Thank you for using AT Weather!</p>
		</div>
	</div>

{% endblock %}