
body { 
       font-family: 'Karla', sans-serif; 
       height: 100%;
	   background-color: white;
	   color: black;
	   }

.container { text-align:justify; font-family: 'Karla', sans-serif; }

.nav-pills .nav-link {
	transition: background-color 0.3s, color 0.3s;
}

.nav-pills .nav-link:hover {
	background-color: #9bbbef; 	/* Change to desired hover color */
	color: white; 				/* Change to desired text color */
}

.nav { font-family: 'Karla', sans-serif; }		
.form-control { font-family: 'Karla', sans-serif; }	
.list-group { font-family: 'Karla', sans-serif; }
.alert { font-family: 'Karla', sans-serif; }	

.navigate_location .pagination>li>a,
.navigate_location .pagination>li>span { border: 1px solid #ff4444;
										 color: #ff4444;
										 font-family: 'Karla';}

#footer { padding-top:15px; }