{% extends "index.html" %}
{% block donate_message %}

<div id = "donateMessage">

<p>
First, I would like to congratulate everyone who are close to their ultimate goal of reaching Mount Katahdin (or Springer if you're a SOBO...or the Canadian border if you're on the PCT!). This is an experience that will change you in ways big and small. Sitting here nearly a year after my own thru hike in 2015, I am clearly transformed in ways that I did not anticipate.</p>

<p>
It is partly for this reason that I continue to actively maintain and develop AT Weather. The trail certainly gave to me, and it only makes sense to give back. And the response has been amazing. As of this writing on 11 August 2016, the site has seen nearly 500,000 page views from 60,000 users since its inception in February of 2015...with two-thirds of that traffic happening during the 2016 season. My thanks goes out to the Appalachian Trail Conservancy for publicizing AT Weather since the start, and to David Miller for including it in the 2016 version of AWOL.</p>

<p>
My intention is to keep the site as simple as possible - a text-based layout free of any other clutter that is easy for smartphones to load. In the coming months, there will be certain additions such as national parks and ski areas, so as to bring the convenience of obtaining weather forecasts to a broader audience of outdoor enthusiasts. The format of the site will however remain as is.</p>

<p>
The site will also <b>always remain free</b> and <b>never contain ads</b>. Nonetheless, hosting of the site and ongoing registration of the domain name does cost about $120 per year in addition to many hours of time spent in maintaining and developing the code that runs the site. If AT Weather has been useful to you, consider <a href = "https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=patjones80%40gmail%2ecom&lc=US&item_name=Appalachian%20Trail%20Weather&item_number=atwx&amount=0%2e00&currency_code=USD&button_subtype=services&tax_rate=0%2e000&shipping=0%2e00&bn=PP%2dBuyNowBF%3abtn_buynow_SM%2egif%3aNonHosted">supporting</a> it. Thanks for reading, and happy trails!</p>

<p>
-Pat Jones (Zen, AT '15)</p>

<a href = "/"><button type = "button">Home</button></a>

</div>

{% endblock %}

