<!DOCTYPE html>

<html>

<script>

	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-57389593-1', 'auto');
	ga('send', 'pageview');

</script>

<head>
	<meta name = "description" content = "Location-specific weather forecasts for all 285 shelters and campsites along the Appalachian Trail." />
	<meta name = "robots" content = "index,follow" />
	<meta name=  "googlebot" content = "index,follow" />

	<title>Appalachian Trail Weather</title>
	<link rel = "stylesheet" type = "text/css" href = "/static/style.css"/>

	<script src="jquery-1.11.2.js"></script>

	<script language="javascript">

		function getSort(){

			var s = document.getElementsByName('sort_by');

			for (var i = 0, length = s.length; i < length; i++) {
				if (s[i].checked){

						var my_dir = s[i].value;

						// only one radio can be logically checked, don't need to look at the rest
						break;

						}
			}

			return my_dir;
		}

    </script>

</head>

<body>

<div id = body_div>

	<div id = "header">
		<h1>Appalachian Trail Weather</h1>
	    <h3>Location-specific (latitude/longitude based) forecasts from the National Weather Service</h3>
		<p>The purpose of this website is simple: to provide AT thru-hikers with a reliable and easy way to obtain weather for their location. The weather can vary significantly over short distances in the mountains, and the weather forecast associated with nearby towns may not be accurate for your shelter location at high elevation. Simply pick your location from the list and the National Weather Service forecast for that location will appear. Re-sorting the list by SOBO or alphabetically (NOBO is the default order) clears the page.</p>
	</div>

    <div id = "form_controls">

	    <form method = "GET" >
	    	{% for sort_choice in sort_options %}
		    	<input type = "radio" id = "{{ sort_choice[0] }}" name = "sort_by" value = "{{ sort_choice[0] }}" onchange = "window.location.href = '/' + value;" {{ sort_choice[2] }} >{{ sort_choice[1] }}<br>
		    {% endfor %}
	    </form>

		</br>

	    <form method = "GET">

        <div id = "loc_list">

		    <select id = "my_shelter" name = "my_shelter" onchange="window.location.href = '/' + getSort() + '/forecast/loc_id=' + document.getElementById('my_shelter').value;">

		        <option selected="selected" disabled="disabled">Select location...</option>

			    {% for o in shelter_list %}
				    <option value = "{{ o[0] }}" {{ o[3] }}>{{ o[1] }}</option>
			    {% endfor %}

		    </select>

        </div>

	    </form>

    </div>

    {% block forecast %}{% endblock %}

    <br>
    <br>
    <br>
    <br>

    <div id = "footer_container">

	    <div id = "footer">
		    <footer>Powered by Flask 0.10.1 and Python 3.4. Questions? Comments? <a href = "mailto:patjones80@gmail.com">patjones80@gmail.com</a> ("Lefty" 2015)</footer>
	    </div>

    </div>

</div>

</body>

</html>


