<!DOCTYPE html>

<html>

<!-- <script>

	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-57389593-1', 'auto');
	ga('send', 'pageview');

</script> -->

<head>
	<meta name = "description" content = "Location-specific weather forecasts for all 285 shelters and camp sites along the Appalachian Trail." />
	<meta name = "robots"    content = "index,follow" />
	<meta name = "googlebot" content = "index,follow" />

	<title>Appalachian and Pacific Crest Trail Weather</title>
	<link rel = "stylesheet" type = "text/css" href = "/static/style.css"/>

	<link rel = "shortcut icon" href = "/static/favicon.ico" type = "image/x-icon">
	<link rel = "icon" href = "/static/favicon.ico" type = "image/x-icon">

	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<script>
	
		$(document).ready(function()
			{ 
				
				var allStatesGlobal = $('#myStateHidden option');
				var allLocationsGlobal = $('#myShelterHidden option');
				
				$(myTrail).change(function()
				{
					<!-- a selection was made from the trail list -->
					
					var currTrail = document.getElementById("myTrail").value;

					if (currTrail == 'AT') {
						<!-- define the state list for the AT -->
						var currTrailStates = allStatesGlobal.filter('.labelText,.GA,.NC,.TN,.VA,.MD,.PA,.NJ,.NY,.CT,.MA,.VT,.NH,.ME');
						var currStateLocations = allLocationsGlobal.filter('.labelText,.GA,.NC,.TN,.VA,.MD,.PA,.NJ,.NY,.CT,.MA,.VT,.NH,.ME');
					};

					if (currTrail == 'PCT'){					
						<!-- define the state list for the PCT -->
						var currTrailStates = allStatesGlobal.filter('.labelText,.CA,.OR,.WA');
						var currStateLocations = allLocationsGlobal.filter('.labelText,.CA,.OR,.WA');						
					};						
						
					<!-- remove everything from the state list and repopulate only with the filtered list -->
					$('#myState option').remove();
					
					$.each(currTrailStates, function (i, j) 
					{
						$(j).appendTo('#myState');
					});

					document.getElementById('myState').selectedIndex = "0";
					
					<!-- remove everything from the shelter list and repopulate only with the filtered list -->
					$('#myShelter option').remove();

					$.each(currStateLocations, function (i, j) 
					{
						$(j).appendTo('#myShelter');
					});

					document.getElementById('myShelter').selectedIndex = "0";
					
				});

				$(myState).change(function() 
				{ 
				
					<!-- a selection was made from the state list -->
					
					var currState = document.getElementById("myState").value;										
					var currStateLocations = allLocationsGlobal.filter('.labelText,.' + currState);

					<!-- remove everything from the shelter list and repopulate only with the filtered list -->
					$('#myShelter option').remove();

					$.each(currStateLocations, function (i, j) 
					{
						$(j).appendTo('#myShelter');
					});
					
					document.getElementById('myShelter').selectedIndex = "0";
				
				}); 
				
			});
			
	</script>

</head>

<body>

<div id = body_div>

	<div id = "header">
		<h1>Appalachian and Pacific Crest Trail Weather</h1>

		<div id = "lnt_at_links">
			<a href = "https://www.appalachiantrail.org"><img src = "/static/at_logo_2.jpg" alt = "AT Logo" style = "width:60px;height:60px;"></a>
			<a href = "https://www.lnt.org"><img src = "/static/lnt_logo_3.jpg" alt = "Leave No Trace Logo" style = "width:120px;height:60px;"></a>
		</div>
			
		<br>
		<br>
		<br>

	    <h3>Location-specific forecasts from the National Weather Service (NOAA)</h3>

		<p>The purpose of this website is simple: to provide AT and PCT hikers with a reliable and easy way to obtain weather for their location. Simply pick your state and location from the lists below and the National Weather Service forecast for that location will appear.</p>

		<ul style = "list-style-type: disc;">
			
			<li>Please see <a href = "http://127.0.0.1:5000/precip_discussion">this discussion</a> relating to how forecasts should be interpreted.</li>
			
			<li>Check out <a href = "http://127.0.01:5000/wind_chill">this discussion</a> of cold weather, including both Fahrenheit and Celsius wind chill charts.</li>

			<li>If AT Weather has been useful to you, <b>consider <a href = "https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=patjones80%40gmail%2ecom&lc=US&item_name=Appalachian%20Trail%20Weather&item_number=atwx&amount=0%2e00&currency_code=USD&button_subtype=services&tax_rate=0%2e000&shipping=0%2e00&bn=PP%2dBuyNowBF%3abtn_buynow_SM%2egif%3aNonHosted">supporting</a> it with a small donation!</b></li>
			
		</ul>

		<h3><a href = "http://127.0.01:5000/changes_discussion">Note on changes to AT Weather (January 2nd, 2017)</a></h3>
		
	</div>

    <div id  =  "formControls">

	    <form action = "/forecast" method = "GET">

			<div id = "trailList">
			
				<select id = "myTrail" name = "myTrail">
				
					<option selected = "selected" value = "">Select trail or park area...</option>
					
						{% for o in trail_list %}
							<option value = "{{ o[0] }}" {{ o[2] }}>{{ o[1] }}</option>
						{% endfor %}
						
				</select>
			</div>
			
			<br>
			
			<div id = "stateList">

				<select id = "myState" name = "myState">

					<option selected = "selected" value = "" class = "labelText">Select state...</option>

					{% for o in state_list %}
						<option value = "{{ o[0] }}" class = "{{ o[0] }}" {{ o[2] }}>{{ o[1] }}</option>
					{% endfor %}
					
				</select>

			</div>
			
			<br>
			
			<div id = "shelterList">

				<select id = "myShelter" name = "myShelter" onchange = "this.form.submit()">

					<option selected = "selected" value = "" class = "labelText">Select location...</option>

					{% for o in shelter_list %}
						<option value = "{{ o[0] }}" class = "{{ o[4] }}" {{ o[5] }}>{{ o[1] }}</option>
					{% endfor %}

				</select>
				
			</div>

	    </form>

		<select hidden id = "myStateHidden" name = "myStateHidden">

			<option selected = "selected" value = "" class = "labelText">Select state...</option>

			{% for o in state_list_full %}
				<option value = "{{ o[0] }}" class = "{{ o[0] }}" {{ o[2] }}>{{ o[1] }}</option>
			{% endfor %}
					
		</select>
		
		<select hidden id = "myShelterHidden" name = "myShelterHidden">

			<option selected = "selected" value = "" class = "labelText">Select location...</option>

			{% for o in shelter_list_full %}
				<option value = "{{ o[0] }}" class = "{{ o[4] }}" {{ o[5] }}>{{ o[1] }}</option>
			{% endfor %}

		</select>
		
    </div>	
	
	<p><span style = "font-weight:bold">{{ location_selected }}</span></p>
	
	<div id = "discussions">
	
		{% block discuss_pops %}  	 {% endblock %}
		{% block wind_chill   %}  	 {% endblock %}	
		{% block handle_error %}  	 {% endblock %}
		{% block discuss_changes %}  {% endblock %}
		
		{{ forecast_text }}
				
	</div>
		
<!-- 	for use with new site when NWS API comes online

	<b>{{ err_msg }}</b>
	
	{% if location_to_display %}
		<h3>National Weather Service forecast for: {{ location_to_display }}</h3>
	{% endif %}

-->
	
<!-- 	soon to be deprecated -->
<!-- 	<div id = "forecast">
		{{ forecast_text }}
	</div>
 -->
<!-- 	for use with new NWS API -->

<!-- 	<div id = "forecast">
		{% for f in forecast %}
			<p><b>{{ f.name }}</b>: {{ f.detailedForecast }}</p>
		{% endfor %}
	</div>
 -->	
    <br>
    <br>
    <br>
    <br>

    <div id = "footerContainer">

	    <div id = "footer">
		    <footer>Powered by Python 3.4 and Flask 0.10.1. Questions? Comments? <a href = "mailto:patjones80@gmail.com">patjones80@gmail.com</a> ("Zen" 2015)</footer>
	    </div> 	

    </div>

</div>

</body>

</html>


