<!DOCTYPE html>

<html>

<!-- <script>

	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-57389593-1', 'auto');
	ga('send', 'pageview');

</script> -->

<head>
	<meta name = "description" content = "Location-specific weather forecasts for all 285 shelters and camp sites along the Appalachian Trail." />
	<meta name = "robots" content = "index,follow" />
	<meta name=  "googlebot" content = "index,follow" />

	<title>Appalachian Trail Weather</title>
	<link rel = "stylesheet" type = "text/css" href = "/static/style.css"/>

	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<script>
		
		$(document).ready(function()
			{ 
				var allLocationsGlobal = $('#myShelterHidden option');
				
				<!-- localStorage.setItem("allLocationsGlobal", allLocationsGlobal); -->
				<!-- sessionStorage.setItem('allLocationsGlobal', $('#myShelter option')); -->
				
				$(myState).change(function() 
				{ 
					var currState = document.getElementById("myState").value;					
					
					<!-- var allLocationsGlobal = sessionStorage.getItem('allLocationsGlobal'); -->
					
					var selectLabel = allLocationsGlobal.filter('.labelText');
					var currStateLocations = allLocationsGlobal.filter('.' + currState);
					
					$('#myShelter option').remove();

					$.each(selectLabel, function (i, j) 
					{
						$(j).appendTo('#myShelter');
					});
					
					$.each(currStateLocations, function (i, j) 
					{
						$(j).appendTo('#myShelter');
					});
					
				}); 
			});
	</script>

</head>

<body>

<div id = body_div>

	<div id = "header">
		<h1>Appalachian Trail Weather</h1>
		
		<a href = "https://www.appalachiantrail.org"><img src = "/static/at_logo_1.jpg" alt = "AT Logo" style = "width:60px;height:60px;"></a>
		<a href = "https://www.lnt.org"><img src = "/static/lnt_logo.jpg" alt = "Leave No Trace Logo" style = "width:120px;height:60px;"></a>
		
		<br>
		<br>
		<br>
		
	    <h3>Location-specific forecasts from the National Weather Service (NOAA)</h3>
		
		<p>The purpose of this website is simple: to provide AT hikers with a reliable and easy way to obtain weather for their location. Simply pick your state and shelter location from the lists below and the National Weather Service forecast for that location will appear.</p>
		
		<p><span style = "color:red; font-weight:bold">New for 2016!</span> Please see <a href = "http://127.0.0.1:5000/precip_discussion">this discussion</a> relating to how forecasts should be interpreted.</p>
		
	</div>
		
    <div id = "formControls">

	    <form method = "GET">
		
		<div id = "stateList">
			
			<select id = "myState" name = "myState">
			
				<option selected = "selected">Select state...</option>
				
					<option value = "GA">Georgia</option>
					<option value = "NC">North Carolina</option>
					<option value = "TN">Tennessee</option>
					<option value = "VA">Virginia</option>
					<option value = "MD">Maryland</option>
					<option value = "PA">Pennsylvania</option>
					<option value = "NJ">New Jersey</option>
					<option value = "NY">New York</option>
					<option value = "CT">Connecticut</option>
					<option value = "MA">Massachusetts</option>
					<option value = "VT">Vermont</option>
					<option value = "NH">New Hampshire</option>
					<option value = "ME">Maine</option>
					
			</select>

		</div>
		
		<br>
		
        <div id = "shelterList">

		    <select id = "myShelter" name = "myShelter" onchange = "window.location.href = '/forecast/loc_id=' + document.getElementById('myShelter').value;">

		        <option selected = "selected" disabled = "disabled" class = "labelText">Select location...</option>

			    {% for o in shelter_list %}
				    <option value = "{{ o[0] }}" class = "{{ o[4]}}" {{ o[3] }}>{{ o[1] }}</option>
			    {% endfor %}

		    </select>

		    <select hidden id = "myShelterHidden" name = "myShelterHidden">

		        <option selected = "selected" disabled = "disabled" class = "labelText">Select location...</option>

			    {% for o in shelter_list_full %}
				    <option value = "{{ o[0] }}" class = "{{ o[4]}}" {{ o[3] }}>{{ o[1] }}</option>
			    {% endfor %}

		    </select>
			
        </div>

	    </form>

    </div>	
 
	{% block discuss_pops %}{% endblock %}
    {% block forecast %}{% endblock %}

    <br>
    <br>
    <br>
    <br>

    <div id = "footerContainer">

	    <div id = "footer">
		    <footer>Powered by Python 3.4 and Flask 0.10.1. Questions? Comments? <a href = "mailto:patjones80@gmail.com">patjones80@gmail.com</a> ("Zen" 2015)</footer>
	    </div> 	

    </div>

</div>

</body>

</html>


