{% extends "index.html" %}
{% block forecast %}
<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><style>
body {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
ul{
    list-style-type: none;
}
.point-forecast-7-day{
    
}
.warn{
    color: #FF0000;
    font-weight:bold;
    text-decoration: underline;
}
li.forecast-tombstone + li {
    margin-left: 12px;
}
li.forecast-tombstone,
li.forecast-tombstone > div {
    display: inline-block;
}
li.forecast-tombstone img {
    margin: auto;
    width: 55px;
    height: 58px;
}
li.forecast-tombstone p {
    text-align: center;
    font-size: 12px !important;
}
.txt-ctr-caps {
    font-weight: bold;
}
</style>
<title>7-Day Forecast for Latitude 43.61&deg;N and Longitude 72.82&deg;W (Elev. 3419 ft) (Text-Only)</title></head><body leftmargin="0" topmargin="0" rightmargin="0" marginwidth="0" marginheight="0" bgcolor="#FFFFFF" text="#000000"><div style="margin:25px 0px 0px 0px;"><table width="800" border="0" align="center" cellpadding="0" cellspacing="0"><tr valign ="top"><td width="80%" valign="top" align="left"><font size="3"><b>NWS Forecast for: 5 Miles NNE Cuttingsville VT</b></font><br>Issued by: National Weather Service Burlington, VT<br><a href="http://www.weather.gov/glossary/index.php?word=Last+update"><b>Last Update</b></a>: 6:15 pm EST Nov 30, 2015</td></tr><tr><td colspan="2" valign="top" align="center"><hr><br></td></tr>
</table><table width="800" border="0" align="center" cellpadding="0" cellspacing="0"><tr valign ="top"><td colspan="2" valign="top" align="left"><b>Tonight: </b>Partly cloudy, with a low around 22. Breezy, with a west wind 17 to 22 mph becoming light southwest  after midnight. <br>
<br>
<b>Tuesday: </b>A chance of freezing rain before 11am, then rain.  High near 39. Breezy, with a south wind 9 to 14 mph increasing to 19 to 24 mph in the afternoon. Winds could gust as high as 34 mph.  Chance of precipitation is 100%. Little or no ice accumulation expected. <br>
<br>
<b>Tuesday Night: </b>Rain.  Low around 34. Windy, with a south wind 28 to 33 mph.  Chance of precipitation is 100%. New precipitation amounts between a quarter and half of an inch possible. <br>
<br>
<b>Wednesday: </b>Showers likely, mainly after 2pm.  Cloudy, with a high near 46. Breezy, with a southwest wind 15 to 23 mph.  Chance of precipitation is 70%. New precipitation amounts between a tenth and quarter of an inch possible. <br>
<br>
<b>Wednesday Night: </b>Rain showers before 11pm, then rain and snow showers between 11pm and midnight, then snow showers after midnight.  Low around 26. Breezy, with a southwest wind 15 to 24 mph.  Chance of precipitation is 100%. New snow accumulation of less than one inch possible. <br>
<br>
<b>Thursday: </b>A 50 percent chance of snow showers.  Mostly cloudy, with a high near 31. Very windy, with a northwest wind 32 to 37 mph increasing to 39 to 44 mph in the afternoon. Winds could gust as high as 55 mph. <br>
<br>
<b>Thursday Night: </b>Partly cloudy, with a low around 24. Very windy, with a northwest wind 31 to 41 mph decreasing to 18 to 28 mph after midnight. Winds could gust as high as 50 mph. <br>
<br>
<b>Friday: </b>Partly sunny, with a high near 33. Windy, with a west wind 20 to 30 mph. <br>
<br>
<b>Friday Night: </b>Partly cloudy, with a low around 22. Windy, with a northwest wind 31 to 33 mph. <br>
<br>
<b>Saturday: </b>Sunny, with a high near 37. Windy, with a north wind 27 to 32 mph decreasing to 16 to 21 mph in the afternoon. <br>
<br>
<b>Saturday Night: </b>Mostly clear, with a low around 26. Breezy, with a west wind 11 to 16 mph becoming west 19 to 24 mph after midnight. <br>
<br>
<b>Sunday: </b>Mostly sunny, with a high near 40. Very windy, with a west wind 36 to 41 mph increasing to 43 to 48 mph in the afternoon. Winds could gust as high as 60 mph. <br>
<br>
<b>Sunday Night: </b>Partly cloudy, with a low around 26. Very windy, with a west wind 39 to 44 mph decreasing to 32 to 37 mph after midnight. Winds could gust as high as 55 mph. <br>
<br>
<b>Monday: </b>Mostly sunny, with a high near 39. Breezy, with a northwest wind 20 to 25 mph becoming west 7 to 12 mph in the afternoon. <br>
<br>
<hr><br></td></tr><tr><td colspan="2" align="left">5 Miles NNE Cuttingsville VT, 43.61&deg;N 72.82&deg;W (Elev. 3419 ft)<br></td></tr><tr><td colspan="2" align="left"><br>Visit your local NWS office at: <a href="http://www.weather.gov/btv/">http://www.weather.gov/btv/</a></td></tr></table></div><br />
{% endblock %}