{% extends "index.html" %}
{% block discuss_pops %}

<div id = "discussPops">

<p>
When reading the weather forecast, you will encounter phrases such as "chance of precipitation" or "chance of rain" in situations where inclement weather might occur. The chance of precipitation is a way for forecasters to indicate uncertainty in how the weather will unfold, and thus give the general public a means of how much to rely on the forecast. 
</p>

<p>
This is necessary partly because there are a lot of processes taking place in the atmosphere that are practically random. One excellent example of this, and one that is particularly applicable to the forecasting needs of long-distance hikers, has to do with summertime thunderstorms. On the East Coast, there is hardly a day during the months of June, July and August where the forecast doesn't say "chance of thunderstorms 30%" or "chance of rain 20%". This is particularly true in mountainous terrain, where atmospheric instability is usually greater during the hot summer months. More often than not, however, days such as these turn out entirely dry. Why is this?
</p>

<p>
The formation of thunderstorms occurs by a process called "convection" in the atmosphere. Convection is spatially very difficult to pinpoint. The weather forecasters are, however, very good at identifying the overall atmospheric conditions that could lead to convection in a broad area...and so rather than attempting to forecast thunderstorms with razor sharp accuracy, an entire forecast area might be assigned a low chance of precipitation. When a thunderstorm does happen to pop up in a particular location, the forecast office will issue short-term warnings to the affected locale indicating the threat. For a more detailed description of convection as it applies to thunderstorm development, see the <a href = "https://en.wikipedia.org/wiki/Convection#Weather">Wikipedia page on convection and weather</a>.
</p>

<p>
Likewise, there are other situations where the chance of precipitation is 80% or higher. Such precipitation chances derive from large-scale weather systems where, for instance, rain overspreads an entire region. Generally, such significant precipitation chances can be relied upon to definitively produce inclement weather for at least some portion of the time frame covered by the forecast. In these scenarios, it becomes important to also note <i>how much</i> precipitation might potentially fall. Many people (including myself) who were on the AT in Maine during <a href = "http://www.pressherald.com/2015/09/30/heavy-rains-slowing-morning-commute-across-southern-maine/">the rainstorm that took place on September 30th and October 1st in 2015</a> can attest to what seven inches of rain in a twenty-four hour period looks like. A weather system that produces one-tenth or one-quarter of an inch of rain is a much different event than one forecast to drop say three or four inches.
</p>

<p>
The takeaway here is to read the forecasts carefully and understand what they mean for you and your experience on the trail.
</p>

<a href = "/"><button type = "button">Home</button></a>

</div>

{% endblock %}

